$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$jumbotron-padding-h: 0;
$jumbotron-padding-v: 20px;
$jumbotron-bg: "none";

@import "bootstrap-sass/lib/bootstrap";
@import "animate.scss";

/* Put your CSS here */
html, body {
  margin: 20px;
  font-family: Roboto;
  font-weight: 400;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 20px 0;
}

.header {
  @include clearfix();
}

.header .nav {
  margin: 10px 0;
}

.jumbotron {
  padding-top: $jumbotron-padding-v;
  padding-bottom: $jumbotron-padding-v;
  padding-left: $jumbotron-padding-h;
  padding-right: $jumbotron-padding-h;
  margin-bottom: $jumbotron-padding-v;

  @media screen and (min-width: $screen-tablet) {
    padding-top:    ($jumbotron-padding-v * 1.6);
    padding-bottom: ($jumbotron-padding-v * 1.6);

    .container & {
      padding-left:  ($jumbotron-padding-v * 2);
      padding-right: ($jumbotron-padding-v * 2);
    }
  }

  font-family: inherit;
  font-weight: inherit;
  font-weight: 200;

  h1 {
    font-family: inherit;
    font-weight: 300;
    font-size: 70px;
  }

  text-align: center;

  .jumbotron-actions {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  font-weight: 300;
}


.cv {

  $cvDurationWidth: 100px;
  $cvSecondaryColor: #aaa;

  h3 {
    font-size: 1.8 * $font-size-base;
    font-weight: 100;
    margin: 1.4em 0;
    border-bottom: 1px solid;
    padding-bottom: 0.1em;
    color: $btn-primary-bg;
  }

  h4 {
    font-weight: 300;
    margin: 1.4em 0;
    color: $btn-success-bg;
  }

  .cv-item {

    &.cv-item-extended {
      margin: 2em 0;
    }

    &.cv-item-compact {
      padding-left: 20px;

      li {
        margin: 0.5em 0;
      }
    }

    .duration {
      font-weight: 300;
      margin: 1em 0;
    }

    .duration-secondary {
      color: $cvSecondaryColor;
      font-size: 0.85 * $font-size-base;
      font-weight: 300;
    }

    .title-primary {
      font-weight: bold;
    }

    .title-secondary {
      color: $cvSecondaryColor;
      display: block;
    }

    .note {
      font-size: 0.85 * $font-size-base;
      margin: 0.3em 0;
    }

    .technologies {
      list-style: none;
      line-height: 1.8;
      padding-left: 0;
      font-size: 0.85 * $font-size-base;
      margin: 0;

      .label {
        display: inline-block;
        font-size: 92%;
        font-weight: 300;
        margin-right: 0.4em;
        padding-bottom: 0.35em;
        padding-top: 0.2em;
        &:last-child {
          margin-right: none;
        }
      }

      .label-default {
        background-color: #aaa;
      }

      li {
        display: inline;

        &:last-child:after {
          content: none;
        }
      }
    }

    .features {
      display: inline;
      list-style: none;
      padding-left: 0;
      font-size: 0.85 * $font-size-base;
      margin: 0.3em 0;

      li {
        display: inline;

        &:after {
          content: ', ';
        }

        &:last-child:after {
          content: none;
        }
      }
    }

    .source,
    .demo,
    .website {
      font-size: 0.85 * $font-size-base;
      margin: 0.3em 0;
    }

    .subitems {
      padding-left: 20px;

      .cv-item {
        margin: 1em 0;

        .title-primary,
        .title-secondary {
          font-size: 0.85 * $font-size-base;
        }
      }
    }
  }

  @media (min-width: 768px) {

    .cv-item {

      &.cv-item-extended {
        position: relative;
        padding-left: $cvDurationWidth;
      }

      .duration {
        position: absolute;
        left: 0;
        top: 0;
        width: $cvDurationWidth;
        margin-right: 1em;
        margin-top: 0;
        margin-bottom: 0;
      }

      .title-secondary {
        display: inline;
        &:before {
          content: '- ';
        }
      }
    }
  }

}

/*typeahead*/
.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: $btn-primary-bg;

}

.tt-suggestion p {
  margin: 0;
}

.tt-hint {
  display: none;
}

form {
  .tm-tag {

  }

  .tm-tag-remove {
    color: white;
    margin-left: 0;
    padding: 5px;
  }

  .label {
    font-size: 92%;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 11px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: bottom;
  }
}
