<div class="cv">

  <form class="form-inline" role="form">
    <span class="filter-container form-group"></span>
    <div class="form-group">
      <input name="filter-hidden" ng-model="filter" ng-change="updateFilters()" type="hidden">
      <input name="filter-selector" type="text" class="form-control" placeholder="Filter (Ex: Javascript)" autofocus>
    </div>
  </form>

  <div class="section" ng-repeat="section in sections">
    <h3>{{section.title}}</h3>
    <div class="category" ng-repeat="category in section.categories">
      <h4>{{category.title}}</h4>

      <div ng-if="category.type === 'extended'">
        <div ng-repeat="item in category.items | filter:isItemVisible" class="cv-item cv-item-extended">
          <div class="title">
            <span class="title-primary">{{item.title}}</span>
            <span class="title-secondary" ng-if="item.sideNote">- {{item.sideNote}}</span>
          </div>
          <div class="duration">
            <div class="duration-primary">{{item.startTime}}<span ng-show="item.endTime">-{{item.endTime}}</span></div>
            <div class="duration-secondary" ng-if="item.duration">{{item.duration}}</div>
          </div>
          <p class="note" ng-if="item.note">{{item.note}}</p>
          <p class="source" ng-if="item.source">Source code: <a href="{{item.source}}" target="_blank">{{item.source}}</a></p>
          <p class="demo" ng-if="item.demo">Demo: <a href="{{item.demo}}" target="_blank">{{item.demo}}</a></p>
          <p class="website" ng-if="item.website">Web site: <a href="{{item.website}}" target="_blank">{{item.website}}</a></p>
          <ul class="technologies" ng-if="item.technologies">
            <li ng-repeat="technology in item.technologies" ng-class="isTagSelected(technology) ? 'label label-success' : 'label label-default'">{{technology}}</li>
          </ul>

          <ul class="subitems" ng-if="item.subItems">
            <li ng-repeat="subItem in item.subItems | filter:isSubItemVisible" class="cv-item cv-item-subitem">
              <div class="title">
                <span class="title-primary">{{subItem.title}}</span>
                <span class="title-secondary" ng-if="subItem.sideNote">- {{subItem.sideNote}}</span>
              </div>
              <div class="duration">
                <div class="duration-primary">{{subItem.startTime}}<span ng-show="subItem.endTime">-{{subItem.endTime}}</span></div>
                <div class="duration-secondary" ng-if="subItem.duration">{{subItem.duration}}</div>
              </div>
              <p class="note" ng-if="subItem.note">{{subItem.note}}</p>
              <p class="source" ng-if="subItem.source">Source code: <a href="{{subItem.source}}" target="_blank">{{subItem.source}}</a></p>
              <p class="demo" ng-if="subItem.demo">Demo: <a href="{{subItem.demo}}" target="_blank">{{subItem.demo}}</a></p>
              <p class="website" ng-if="subItem.website">Web site: <a href="{{subItem.website}}" target="_blank">{{subItem.website}}</a></p>
              <ul class="technologies" ng-if="subItem.technologies">
                <li ng-repeat="technology in subItem.technologies" ng-class="isTagSelected(technology) ? 'label label-success' : 'label label-default'">{{technology}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div ng-if="category.type === 'compact'">
        <ul class="cv-item cv-item-compact">
          <li ng-repeat="item in category.items">
            <strong>{{item.title}}:</strong>
            <ul class="features">
              <li ng-repeat="feature in item.features">
                {{feature}}
                <span class="title-secondary" ng-if="item.sideNote">- {{item.sideNote}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
